<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200;1,300&family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <title>Classic Shop</title>
</head>
<body>
    <div id="app">
        <header>
            <div class="socialNcart">
                <div id="socials">                
                    <i :class='social' v-for="social in socials"></i>
                </div>
                <div id="cart">
                    <div v-for="(button, index) in cart">
                        <i :class="(index == 2) ? 'fas fa-shopping-cart' : null"></i>
                        {{button}}
                        <i :class="(index == 1) || (index == 2) ? 'fas fa-chevron-down' : null"></i>
                    </div>
                </div>
            </div>
            <div id="logoNstuff">
                <div id="logo">
                    <img :src="logo[0]" alt="logo">
                </div>
                <div class="stuff">
                    <div class="nav">
                        <ul>
                            <li v-for='n in nav'>
                                {{n}}
                                <i style="font-size: 13px; margin-left: 5px;" :class="(n == 'News') ? null : 'fas fa-chevron-down'"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="stuff_button">
                        <button class="button_one">SHOP NOW!</button>
                        <i class="fas fa-search"></i>                    
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div id="jumbotron">
                <img src="img/home1_slide_three_bg_2.jpg" alt="">
                <div class="j_info">
                    <h1>Brand New Arrivals</h1>
                    <h4>New Collection from New York</h4>
                    <button class="button_two">view all</button>
                    <button class="button_two">lookbook</button>
                </div>
            </div>
            <div class="featured_products">            
                <div class="section_title_wrapper">
                    <div class="section_title">
                        <hr class="hr">
                        <h1>Featured Products</h1>
                        <hr class="hr">
                    </div>
                    <h5>Must have products from our top sellers</h5>
                </div>
                <div class="f_p_buttons">
                    <button>Men</button>
                    <button>Women</button>
                    <button>Accessories</button>
                </div>
                <div class="f_p_cards">
                    <div class="f_p_card">
                        <div class="f_p_img_card">
                            <div class="circle">
                                <i class="far fa-check-square"></i>
                            </div>
                        </div>
                        <img src="img/black_elegant_leather_jacket-200x260.jpg" alt="">
                        <h4>Black Leather Jacket</h4>
                        <p>Men, Jackets, Jeans</p>
                        <label class="inline_block blue line_through">$235</label>
                        <p class="inline_block blue">$200</p>
                    </div>
                    <div class="f_p_card">
                        <div class="f_p_img_card">
                            <div class="circle">
                                <i class="far fa-check-square"></i>
                            </div>
                        </div>
                        <img src="img\black_leather_suit-200x260.jpg" alt="">
                        <h4>Black Leather Suit</h4>
                        <p>Men, Jackets</p>
                        <p class="inline_block blue">$176</p>
                    </div>
                    <div class="f_p_card">
                        <div class="f_p_img_card">
                            <div class="circle">
                                <i class="far fa-check-square"></i>
                            </div>
                        </div>
                        <img src="img\blue_jacket_and_white_stripe_tee-200x260.jpg" alt="">
                        <h4>Black Leather & Stripe Tee</h4>
                        <p>Men, Jackets, Suits</p>
                        <p class="inline_block blue">$580</p>
                    </div>
                    <div class="f_p_card">
                        <div class="f_p_img_card">
                            <div class="circle">
                                <i class="far fa-check-square"></i>
                            </div>
                        </div>
                        <img src="img\modern_black_leather_suit-200x260.jpg" alt="">
                        <h4>Modern Black Leather Suit</h4>
                        <p>Men, Jackets</p>
                        <p class="inline_block blue">$96</p>
                    </div>
                </div>
            </div>
            <div class="collections">
                <div class="collection winter">
                    <div class="info_collection">
                        <h2>Winter Collection</h2>
                        <p>stylish and warm</p>
                        <button class="button_two">view more</button>
                    </div>
                </div>
                <div class="collection spring">
                    <div class="info_collection">
                        <h2>Spring Collection</h2>
                        <p>bright and colorful</p>
                        <button class="button_two">view more</button>
                    </div>
                </div>
                <div class="collection autumn">
                    <div class="info_collection">
                        <h2>Autumn Collection</h2>
                        <p>rich and comfortable</p>
                        <button class="button_two">view more</button>
                    </div>
                </div>
            </div>
            <div class="best_seller">
                <div class="section_title_wrapper">
                    <div class="section_title">
                        <hr class="hr">
                        <h1>Best Seller</h1>
                        <hr class="hr">
                    </div>
                    <h5>Must have products from our top sellers</h5>
                </div>
                <div class="f_p_cards_two">
                    <div class="f_p_card_two">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info">
                                <h3>Spring Printed Dress</h3>
                                <p>Women, Dress</p>
                                <h3>$47</h3>
                                <div class="cartNdetails">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                            <div class="arrow_left">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                        </div>
                        <img src="img/spring_printed_dress-200x260.jpg" alt="">
                    </div>
                    <div class="f_p_card_two">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info">
                                <h3>Modern Love Tee</h3>
                                <p>Women, T-Shirts</p>
                                <h3>$68</h3>
                                <div class="cartNdetails">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/modern_love_tee-200x260.jpg" alt="">
                    </div>
                    <div class="f_p_card_two">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info">
                                <h3>Black Jacket</h3>
                                <p>Women, Jacket</p>
                                <h3>$125</h3>
                                <div class="cartNdetails">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/black_leather_jacket-200x260.jpg" alt="">
                    </div>
                    <div class="f_p_card_two">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info">
                                <h3>Black Leather Jacket</h3>
                                <p style="margin-bottom: 10px;">Men, Jacket</p>
                                <label style="text-decoration: line-through; font-size: 10px; font-weight: 600;">$235</label>
                                <label style="font-weight: 600; font-size: 13px;">$200</label>
                                <div class="cartNdetails">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/black_elegant_leather_jacket-200x260.jpg" alt="">
                    </div>
                    <div class="f_p_card_two">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info">
                                <h3>Hipster Black Top</h3>
                                <p>Women, T-Shirts</p>
                                <h3>$57</h3>
                                <div class="cartNdetails">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                            <div class="arrow_right">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                        <img src="img/hipster_black_top-200x260.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="info_discountsNshipping">
                <div class="discounts">
                    <img src="img/promo_box_1_bg.jpg" alt="">
                    <div class="info_i_dNs">
                        <h2>70% Off</h2>
                        <p>Vivamos tempor leo lacus, fugiat ut magna aliquam erat</p>
                        <button class="button_two">view more</button>
                    </div>
                </div>
                <div class="shipping">
                    <img src="img/promo_box_2_bg.jpg" alt="">
                    <div class="info_i_dNs">
                        <h2>Free Shipping</h2>
                        <p>Vivamos tempor leo lacus, fugiat ut magna aliquam erat</p>
                        <button class="button_two">view more</button>
                    </div>
                </div>
            </div>
            <div class="new_arrivals">
                <div class="section_title_wrapper">
                    <div class="section_title">
                        <hr class="hr">
                        <h1>New Arrivals</h1>
                        <hr class="hr">
                    </div>
                    <h5>Brand new products from top designers</h5>
                </div>
                <div class="f_p_cards_two center">
                    <div class="arrow_left">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="f_p_card_two less_size">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info more_font_size">
                                <h3>Black Leather Jacket</h3>
                                <p style="margin-bottom: 10px;">Men, Jacket</p>
                                <label style="text-decoration: line-through; font-size: 15px; font-weight: 600;">$235</label>
                                <label style="font-weight: 600; font-size: 20px;">$200</label>
                                <div class="cartNdetails more_margin">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/black_elegant_leather_jacket-400x520.jpg" alt="">
                    </div>
                    <div class="f_p_card_two less_size">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info more_font_size">
                                <h3>Hipster Black Top</h3>
                                <p>Women, T-Shirts</p>
                                <h3>$57</h3>
                                <div class="cartNdetails more_margin">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/hipster_black_top-400x520.jpg" alt="">
                    </div>
                    <div class="f_p_card_two less_size">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info more_font_size">
                                <h3>Black Leather Suit</h3>
                                <p>Men, Suit</p>
                                <h3>$176</h3>
                                <div class="cartNdetails more_margin">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/black_leather_suit-400x520.jpg" alt="">
                    </div>
                    <div class="f_p_card_two less_size">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info more_font_size">
                                <h3>Spring Printed Dress</h3>
                                <p>Women, Dress</p>
                                <h3>$47</h3>
                                <div class="cartNdetails more_margin">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/spring_printed_dress-400x520.jpg" alt="">
                    </div>
                    <div class="f_p_card_two less_size">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info more_font_size">
                                <h3>Modern Love Tee</h3>
                                <p>Women, T-Shirts</p>
                                <h3>$68</h3>
                                <div class="cartNdetails more_margin">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/modern_love_tee-400x520.jpg" alt="">
                    </div>
                    <div class="arrow_right">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <img src="img/man_testimonial.png" alt="">
                <p>
                    Curabitur non tristique tortor. Vestibulum aliquet suscipit ipsum in voluptat.
                    Donec vel lacinia sem, vitae semper nulla. In hac habitasse platea dictumst.
                    Mauris consectetur est et nibh sadip hendrerit bibendum.
                </p>
                <p><strong>Dario Pineda</strong>, Theme Fusion</p>
                <i class="fas fa-circle"></i>
                <i class="far fa-circle"></i>
            </div>
            <div class="blog">
                <div class="section_title_wrapper">
                    <div class="section_title">
                        <hr class="hr">
                        <h1>From Our Blog</h1>
                        <hr class="hr">
                    </div>
                    <h5>The latest Classic Shop news</h5>
                </div>
                <div class="news_section">
                    <div class="news">
                        <img src="img/post_img_12-320x202.jpg" alt="">
                        <h3>Aenean lobortis sapien enim viverra</h3>
                        <label>September 9th, 2015</label>
                        <label>0 Comments</label>
                        <p>Donec finibus sit amet orci eget ultricies. Praesent posuere ante ut erat frangilla.</p>
                    </div>
                    <div class="news">
                        <img src="img/post_img_11-320x202.jpg" alt="">
                        <h3>Duis ac massa semper maximus</h3>
                        <label>September 9th, 2015</label>
                        <label>0 Comments</label>
                        <p>Donec finibus sit amet orci eget ultricies. Praesent posuere ante ut erat frangilla.</p>
                    </div>
                    <div class="news">
                        <img src="img/post_img_10-320x202.jpg" alt="">
                        <h3>Nunc fermint nulla eu justo sem id</h3>
                        <label>September 9th, 2015</label>
                        <label>0 Comments</label>
                        <p>Donec finibus sit amet orci eget ultricies. Praesent posuere ante ut erat frangilla.</p>
                    </div>
                </div>
                <hr class="blog_hr">
            </div>
            <div class="products">
                <div class="featured">
                    <h3>featured</h3>
                    <ul>
                        <li>
                            <div class="products_info">
                                <p>Black Jacket <strong>$125</strong></p>
                            </div>
                            <img src="img/black_leather_jacket-120x156.jpg" alt="">
                        </li>
                        <li>
                            <div class="products_info">
                                <p>Black Leather Jacket</p>
                                <div class="vote">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>    
                                </div>
                                <label style="text-decoration: line-through; font-size: 13px; font-weight: 600;">$235</label>
                                <label style="font-weight: 600; text-decoration: underline;">$200</label>
                            </div>
                            <img src="img/black_elegant_leather_jacket-120x156.jpg" alt="">
                        </li>
                        <li>
                            <div class="products_info">
                                <p>Hipster Black Top <strong>$57</strong></p>
                            </div>
                            <img src="img/hipster_black_top-120x156.jpg" alt="">
                        </li>
                    </ul>
                </div>
                <div class="on_sale">
                    <h3>on sale</h3>
                    <ul>
                        <li>
                            <div class="products_info">
                                <p>Black Leather Jacket</p>
                                <div class="vote">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>    
                                </div>
                                <label style="text-decoration: line-through; font-size: 13px; font-weight: 600;">$235</label>
                                <label style="font-weight: 600; text-decoration: underline;">$200</label>
                            </div>
                            <img src="img/black_elegant_leather_jacket-120x156.jpg" alt="">
                        </li>
                        <li>
                            <div class="products_info">
                                <p>Blue Leather Jacket <strong style="text-decoration: line-through;">$80</strong></p>
                                <strong style="text-decoration: underline;">$60</strong>
                            </div>
                            <img src="img/blue_leather_jacket-120x156.jpg" alt="">
                        </li>
                        <li>
                            <div class="products_info">
                                <p>Modern Leather Boots <strong style="text-decoration: line-through;">$50</strong></p>
                                <strong style="text-decoration: underline;">$30</strong>
                            </div>
                            <img src="img/modern_leather_boots-120x156.jpg" alt="">
                        </li>
                    </ul>
                </div>
                <div class="top_rated">
                    <h3>top rated</h3>
                    <ul>
                        <li>
                            <div class="products_info">
                                <p>Leather Gloves</p>
                                <div class="vote">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>    
                                </div>
                                <strong>$45</strong>
                            </div>
                            <img src="img/leather_gloves-120x156.jpg" alt="">
                        </li>
                        <li>
                            <div class="products_info">
                                <p>Black Leather Jacket</p>
                                <div class="vote">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>    
                                </div>
                                <label style="text-decoration: line-through; font-size: 13px; font-weight: 600;">$235</label>
                                <label style="font-weight: 600; text-decoration: underline;">$200</label>
                            </div>
                            <img src="img/black_elegant_leather_jacket-120x156.jpg" alt="">
                        </li>
                        <li>
                            <div class="products_info">
                                <p>Spring Printed Dress</p>
                                <div class="vote">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>    
                                </div>
                                <strong>$47</strong>
                            </div>
                            <img src="img/spring_printed_dress-120x156.jpg" alt="">
                        </li>
                    </ul>
                </div>
                <div class="latest_reviews">
                    <h3>latest reviews</h3>
                    <ul>
                        <li>
                            <div class="products_info">
                                <p>Black Leather Jacket</p>
                                <div class="vote">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>    
                                </div>
                                <p class="p_latest_reviews">by admin</p>
                            </div>
                            <img src="img/black_elegant_leather_jacket-120x156.jpg" alt="">
                        </li>
                        <li>
                            <div class="products_info">
                                <p>Leather Gloves</p>
                                <div class="vote">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>    
                                </div>
                                <p class="p_latest_reviews">by Beardman</p>
                            </div>
                            <img src="img/leather_gloves-120x156.jpg" alt="">
                        </li>
                        <li>
                            <div class="products_info">
                                <p>Spring Printed Dress</p>
                                <div class="vote">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>    
                                </div>
                                <p class="p_latest_reviews">by admin</p>
                            </div>
                            <img src="img/spring_printed_dress-120x156.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="brand_logos">
                <h4>brand logos</h4>
                <div class="logos">
                    <img src="img/b_logotype_6.png" alt="">
                    <img src="img/b_logotype_7.png" alt="">
                    <img src="img/b_logotype_1.png" alt="">
                    <img src="img/b_logotype_2.png" alt="">
                    <img src="img/b_logotype_3.png" alt="">
                </div>
            </div>
        </main>
        <footer>
            <div class="subscribe">
                <div class="subscribe_stuff">
                    <i class="far fa-envelope"></i>
                    <h2>Subscrive now and get special offers</h2>    
                </div>
                <div class="subscribe_form">
                    <input placeholder="Insert your e-mail" type="text">
                    <button class="button_one">Send</button>
                </div>
            </div>
            <div class="footer_center">
                <div class="company_infos">
                    <img :src="logo[1]" alt="">
                    <p v-for="(info, name) in infos">
                        {{name}}: {{info}}
                    </p>
                    <div id="socials_footer">                
                        <i :class='social' v-for="social in socials"></i>
                    </div>    
                </div>
                <div class="top_rated">
                    <h5>top rated products</h5>
                    <ul>
                        <li v-for="product in top_rated">
                            <div class="products_info">
                                <p>{{product.name}}</p>
                                <div class="vote">
                                    <i class="fas fa-star" v-for="star in product.vote"></i>
                                </div>
                                <div v-if="product.cost.length == 2" class="cost_variation">
                                    <label style="text-decoration: line-through; font-size: 10px; font-weight: 600;">{{product.cost[0]}}</label>
                                    <label style="font-weight: 600; font-size: 13px; text-decoration: underline;">{{product.cost[1]}}</label>    
                                </div>
                                <strong v-else>{{product.cost}}</strong>
                            </div>
                            <img :src="product.img" alt="">
                        </li>
                    </ul>
                </div>
                <div class="recent_posts">
                    <h5>recent posts</h5>
                    <ul>
                        <li v-for="post in recent_posts">
                            <i class="fas fa-chevron-right"></i>
                            {{post}}
                        </li>
                    </ul>
                </div>
                <div class="footer_tags">
                    <h5>tags</h5>
                    <button v-for="tag in tags">{{tag}}</button>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="copyrights">
                    <ul>
                        <li v-for="element in copyright_elements">{{element}}</li>
                    </ul>
                </div>
                <div class="payments">
                    <img :src="card" v-for='card in cardsimg' alt="">
                </div>
            </div>
        </footer>
        <div class="fixed_stuff">
            <div class="demos">
                <i class="fab fa-atlassian"></i>                
                <p>Demos</p>
            </div>
            <div class="sales">
                <div class="price">
                    <p>$</p>
                    <p>39</p>    
                </div>
                <p id="sale">On Sale</p>
            </div>
        </div>    
    </div>



    <script src="main.js"></script>
</body>
</html>