<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200;1,300&family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <title>Classic Shop</title>
</head>
<body>
    <div id="app">
        <header>
            <div class="socialNcart">
                <div id="socials">                
                    <i :class='social' v-for="social in socials"></i>
                </div>
                <div id="cart">
                    <div v-for="(button, index) in cart">
                        <i :class="(index == 2) ? 'fas fa-shopping-cart' : null"></i>
                        {{button}}
                        <i :class="(index == 1) || (index == 2) ? 'fas fa-chevron-down' : null"></i>
                    </div>
                </div>
            </div>
            <div id="logoNstuff">
                <div id="logo">
                    <img :src="logo" alt="logo">
                </div>
                <div class="stuff">
                    <div class="nav">
                        <ul>
                            <li v-for='(n, i) in nav'>
                                {{n}}
                                <i style="font-size: 13px; margin-left: 5px;" :class="(i == 4) ? null : 'fas fa-chevron-down'"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="stuff_button">
                        <button class="button_one">SHOP NOW!</button>
                        <i class="fas fa-search"></i>                    
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div id="jumbotron">
                <img src="img/home1_slide_three_bg_2.jpg" alt="">
                <div class="j_info">
                    <h1>Brand New Arrivals</h1>
                    <h4>New Collection from New York</h4>
                    <button class="button_two">view all</button>
                    <button class="button_two">lookbook</button>
                </div>
            </div>
            <div class="featured_products">            
                <div class="section_title_wrapper">
                    <div class="section_title">
                        <hr class="hr">
                        <h1>Featured Products</h1>
                        <hr class="hr">
                    </div>
                    <h5>Must have products from our top sellers</h5>
                </div>
                <div class="f_p_buttons">
                    <button>Men</button>
                    <button>Women</button>
                    <button>Accessories</button>
                </div>
                <div class="f_p_cards">
                    <div class="f_p_card">
                        <div class="f_p_img_card">
                            <div class="circle">
                                <i class="far fa-check-square"></i>
                            </div>
                        </div>
                        <img src="img/black_elegant_leather_jacket-200x260.jpg" alt="">
                        <h4>Black Leather Jacket</h4>
                        <p>Men, Jackets, Jeans</p>
                        <label class="inline_block blue line_through">$235</label>
                        <p class="inline_block blue">$200</p>
                    </div>
                    <div class="f_p_card">
                        <div class="f_p_img_card">
                            <div class="circle">
                                <i class="far fa-check-square"></i>
                            </div>
                        </div>
                        <img src="img\black_leather_suit-200x260.jpg" alt="">
                        <h4>Black Leather Suit</h4>
                        <p>Men, Jackets</p>
                        <p class="inline_block blue">$176</p>
                    </div>
                    <div class="f_p_card">
                        <div class="f_p_img_card">
                            <div class="circle">
                                <i class="far fa-check-square"></i>
                            </div>
                        </div>
                        <img src="img\blue_jacket_and_white_stripe_tee-200x260.jpg" alt="">
                        <h4>Black Leather & Stripe Tee</h4>
                        <p>Men, Jackets, Suits</p>
                        <p class="inline_block blue">$580</p>
                    </div>
                    <div class="f_p_card">
                        <div class="f_p_img_card">
                            <div class="circle">
                                <i class="far fa-check-square"></i>
                            </div>
                        </div>
                        <img src="img\modern_black_leather_suit-200x260.jpg" alt="">
                        <h4>Modern Black Leather Suit</h4>
                        <p>Men, Jackets</p>
                        <p class="inline_block blue">$96</p>
                    </div>
                </div>
            </div>
            <div class="collections">
                <div class="collection winter">
                    <div class="info_collection">
                        <h2>Winter Collection</h2>
                        <p>stylish and warm</p>
                        <button class="button_two">view more</button>
                    </div>
                </div>
                <div class="collection spring">
                    <div class="info_collection">
                        <h2>Spring Collection</h2>
                        <p>bright and colorful</p>
                        <button class="button_two">view more</button>
                    </div>
                </div>
                <div class="collection autumn">
                    <div class="info_collection">
                        <h2>Autumn Collection</h2>
                        <p>rich and comfortable</p>
                        <button class="button_two">view more</button>
                    </div>
                </div>
            </div>
            <div class="best_seller">
                <div class="section_title_wrapper">
                    <div class="section_title">
                        <hr class="hr">
                        <h1>Best Seller</h1>
                        <hr class="hr">
                    </div>
                    <h5>Must have products from our top sellers</h5>
                </div>
                <div class="f_p_cards_two">
                    <div class="f_p_card_two">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info">
                                <h3>Modern Love Tee</h3>
                                <p>Women, T-Shirts</p>
                                <h3>$68</h3>
                                <div class="cartNdetails">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                            <div class="arrow_left">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                        </div>
                        <img src="img/spring_printed_dress-200x260.jpg" alt="">
                    </div>
                    <div class="f_p_card_two">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info">
                                <h3>Modern Love Tee</h3>
                                <p>Women, T-Shirts</p>
                                <h3>$68</h3>
                                <div class="cartNdetails">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/modern_love_tee-200x260.jpg" alt="">
                    </div>
                    <div class="f_p_card_two">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info">
                                <h3>Modern Love Tee</h3>
                                <p>Women, T-Shirts</p>
                                <h3>$68</h3>
                                <div class="cartNdetails">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/black_leather_jacket-200x260.jpg" alt="">
                    </div>
                    <div class="f_p_card_two">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info">
                                <h3>Modern Love Tee</h3>
                                <p>Women, T-Shirts</p>
                                <h3>$68</h3>
                                <div class="cartNdetails">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/black_elegant_leather_jacket-200x260.jpg" alt="">
                    </div>
                    <div class="f_p_card_two">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info">
                                <h3>Modern Love Tee</h3>
                                <p>Women, T-Shirts</p>
                                <h3>$68</h3>
                                <div class="cartNdetails">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                            <div class="arrow_right">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                        <img src="img/hipster_black_top-200x260.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="info_discountsNshipping">
                <div class="discounts">
                    <img src="img/promo_box_1_bg.jpg" alt="">
                    <div class="info_i_dNs">
                        <h2>70% Off</h2>
                        <p>Vivamos tempor leo lacus, fugiat ut magna aliquam erat</p>
                        <button class="button_two">view more</button>
                    </div>
                </div>
                <div class="shipping">
                    <img src="img/promo_box_2_bg.jpg" alt="">
                    <div class="info_i_dNs">
                        <h2>Free Shipping</h2>
                        <p>Vivamos tempor leo lacus, fugiat ut magna aliquam erat</p>
                        <button class="button_two">view more</button>
                    </div>
                </div>
            </div>
            <div class="new_arrivals">
                <div class="section_title_wrapper">
                    <div class="section_title">
                        <hr class="hr">
                        <h1>New Arrivals</h1>
                        <hr class="hr">
                    </div>
                    <h5>Brand new products from top designers</h5>
                </div>
                <div class="f_p_cards_two center">
                    <div class="arrow_left">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="f_p_card_two less_size">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info more_font_size">
                                <h3>Modern Love Tee</h3>
                                <p>Women, T-Shirts</p>
                                <h3>$68</h3>
                                <div class="cartNdetails more_margin">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/black_elegant_leather_jacket-400x520.jpg" alt="">
                    </div>
                    <div class="f_p_card_two less_size">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info more_font_size">
                                <h3>Modern Love Tee</h3>
                                <p>Women, T-Shirts</p>
                                <h3>$68</h3>
                                <div class="cartNdetails more_margin">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/hipster_black_top-400x520.jpg" alt="">
                    </div>
                    <div class="f_p_card_two less_size">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info more_font_size">
                                <h3>Modern Love Tee</h3>
                                <p>Women, T-Shirts</p>
                                <h3>$68</h3>
                                <div class="cartNdetails more_margin">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/black_leather_suit-400x520.jpg" alt="">
                    </div>
                    <div class="f_p_card_two less_size">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info more_font_size">
                                <h3>Modern Love Tee</h3>
                                <p>Women, T-Shirts</p>
                                <h3>$68</h3>
                                <div class="cartNdetails more_margin">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/spring_printed_dress-400x520.jpg" alt="">
                    </div>
                    <div class="f_p_card_two less_size">
                        <div class="f_p_img_card_two">
                            <div class="f_p_img_card_two_info more_font_size">
                                <h3>Modern Love Tee</h3>
                                <p>Women, T-Shirts</p>
                                <h3>$68</h3>
                                <div class="cartNdetails more_margin">
                                    <div class="cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <p>Add to cart</p>    
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-list"></i>
                                        <p>Details</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/modern_love_tee-400x520.jpg" alt="">
                    </div>
                    <div class="arrow_right">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </main>    
    </div>



    <script src="main.js"></script>
</body>
</html>